.ButtonT input{
    border : 0 none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: oblique;
    font-size: inherit;
    width: 120px;
    margin: 10px ;
}

.ButtonT .Error {
    color: red;
    margin-top: -10px;
    margin-bottom: 5px ;
}