.Form {    
    text-align: center;
    margin: 20% 25%;
    padding: 10px;
    width: 50%;
    border: 1px groove black;
    border-radius: 10px;
    background: #b3e1ee;
    color: white;
}

.ButtonT input{
    background-color:#4d4d52;
    color: cornsilk;
}

@media (max-width: 600px) {
    .Form {
      margin: 50% auto auto auto;
      width: 90%;
    }
}