.Header {
    text-align: center;
    display: inline;
}
.Header ul {
    height: 60px;
    margin-top: -60px;
}
.Header li {
    display: inline;
    list-style: none;
    font-size: 40px;
    padding: 5px 10px;
}
.Header a {
    color: black;
    text-decoration: none;
}

.Header a:hover {
    text-decoration: underline;
}
